.wave-text span {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
  animation-delay: 1s;
}
.wave-text span:nth-child(7) {
  animation-delay: 1.2s;
}
.wave-text span:nth-child(8) {
  animation-delay: 1.4s;
}
.wave-text span:nth-child(9) {
  animation-delay: 1.6s;
}
.wave-text span:nth-child(10) {
  animation-delay: 1.8s;
}
.wave-text span:nth-child(11) {
  animation-delay: 2s;
}
.wave-text span:nth-child(12) {
  animation-delay: 2.2s;
}
.wave-text span:nth-child(13) {
  animation-delay: 2.4s;
}
.wave-text span:nth-child(14) {
  animation-delay: 2.6s;
}
.wave-text span:nth-child(15) {
  animation-delay: 2.8s;
}
.wave-text span:nth-child(16) {
  animation-delay: 3s;
}
.wave-text span:nth-child(17) {
  animation-delay: 3.2s;
}
.wave-text span:nth-child(18) {
  animation-delay: 3.4s;
}
.wave-text span:nth-child(19) {
  animation-delay: 3.6s;
}
.wave-text span:nth-child(20) {
  animation-delay: 3.8s;
}
.wave-text span:nth-child(21) {
  animation-delay: 4s;
}
.wave-text span:nth-child(22) {
  animation-delay: 4.2s;
}
.wave-text span:nth-child(23) {
  animation-delay: 4.4s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: '';
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: '▲';
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}
